Config(
	entity_definitions : [
		EntityDefinition(
			entity_type: Item,
			name: "Healing Potion", glyph: '!', levels: [0,1,2],
			provides: Some([ ("Healing", 6) ]),
			frequency: 2
		),
		EntityDefinition(
			entity_type: Item,
			name: "Dungeon Map", glyph: '{', levels: [0,1,2],
			provides: Some([ ("MagicMap", 1) ]),
			frequency: 1
		),
		EntityDefinition(
			entity_type: Enemy,
			name: "Goblin", glyph: 'g', levels: [0,1,2],
			vision_range: Some(6),
			hp: Some(1),
			frequency: 3
		),
		EntityDefinition(
			entity_type: Enemy,
			name: "Claws", glyph: 'o', levels: [0,1,2],
			vision_range: Some(6),
			hp: Some(2),
			frequency: 2
		),
	],
)